body{
	margin: 0 auto;
	font-weight: 300;
}

.heading{
	background-color: #406999;
	padding: 0 30px;
	a{
		text-decoration: none;
		color: #2b2f33;
		opacity: 0.9;
		font-size: 2em;}
}

.submit-form{
	border-bottom: 1px solid #e0e1e2;
	padding-bottom: 20px;
	margin-top: 35px;
	clear: both;
	font-size: 14px;
	// transition: all .2s ease-out;
	button{
		border: none;
		border-radius: 3px;
		color: white;
		padding: 0 16px;}
	.add{
		background-color: #17aa56;
		border-bottom: 3px solid #119e4d;
		.ion-image{
			font-size: 20px;}
	}
	.cancel{
		background-color: #b6b6b6;}
	.submit-content{
		margin: 0 30px 0 20px;
		input{
			display: block;
			padding-left: 10px;
			height: 30px;
			width: 100%;
			margin-bottom: 5px;
			border: 1px solid #e0e1e2;}
		p{
			color: red;}
		.success{
			color: green;}
		textarea{
			width: 100%;
			padding-top: 10px;
			padding-left: 10px;
			border: 1px solid #e0e1e2;
			margin-bottom: 10px;}
		button{
			margin-left: 10px;
			margin-right: 0;
			margin-bottom: 0;
			height: 50px;
			padding-top: 8px;
			float: right;
		}
		.clear-fix{
				clear: both;}
	}
}
.image-view{
	background-color: #e0e1e2;
	clear: both;
	padding: 30px 0;
	.image-list{
		padding: 0;
		margin: 0 30px;
		.image-items{
			border: 1px solid #999;
			margin-bottom: 20px;}
		.images{
			margin: 0 auto;
			width: 100%;
			height: auto;
			padding: 0;}
		.image-caption{
			background-color: #fafafa;
			margin-top: -4px;
			p{
				margin: 0;
				padding: 1em;}
		}
		.select{
			background-color: #fafafa;
		}
		select{
			width: 100%;
			border: none;
			border-radius: 0;
			background-color: #fafafa;
			color: black;
			padding: 1em;
			margin: 1em 0 .5em;
		}
	}
}


@media screen and (min-width: 768px) {
	.heading{
		div{
			max-width: 760px;
			margin: 0 auto;}
	}

	.image-view{
		max-width: 760px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
}



















